@import '~bootstrap/scss/bootstrap';

body {
    min-height: 100%;
    opacity: .8;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    background-color: #a4bbe3;
    background: url('../src/Images/sprite.jpg') no-repeat center fixed;
    color: rgb(39, 237, 204);
}

.navbar-brand {
    margin-left: 2rem;
    
}

.btn, .btn-primary {
    margin-top: 10px;
    margin-right: 10px;
    box-shadow: 3px 5px rgb(103, 28, 28);
}

a {
    text-decoration: none;
    color: rgb(23, 230, 213);
}

a:hover {
    color: #a4bbe3;
}

.container {
    margin-top: 20px;
}

.nav-link {
    color: rgb(0, 0, 0);
}